* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;

    background: #fdf8ea;
    background-attachment: fixed;
}

h1 {
  font-size: 4.5em;
  font-weight: 400px;
  font-family: "Roboto Slab", serif;
  color: white;
}

#content {
  margin: auto;
}

.card {
  text-align: center;
  background: rgba(253, 248, 234, 75%);
  border: 1px solid rgba(155, 114, 72, 75%);

  margin: 0 7rem;
  max-width: 100vw;
  border-radius: 100px;
  overflow: clip;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}
