* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(119,183,163);
  background: linear-gradient(0deg, rgba(125,189,169,1) 48%,
    rgba(108,163,144,1) 48%);
  background-attachment: fixed;
}

.container {
  //color: #333;
  text-align: center;
  background-color: #476663;
}

h1 {
  font-size: 4.5em;
  font-weight: 400px;
  font-family: "Roboto Slab", serif;
  color: white;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  color: white;
}

li span {
  display: block;
  font-size: 4.5rem;
}














/* general styling */
html, body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.container {
  margin: 0 auto;
}
